<li>
	<a > <%= link_to 'Incluir Grupo de Usuários', new_grupo_usuario_path %> </a>
</li>
<li>
	<a> <%= link_to 'Listar Grupo de Usuários', grupo_usuarios_path %></a>
</li>
<li>
	<a> <%= link_to 'Usuários', usuarios_path %></a>
</li>