<%= render 'nota_vts/menu'%>
<%= render 'fechamento_diario_vagaos/menu'%>
<%= render 'layouts/final_menu' %> 

<h3>Seção dedicada à organização das informações
pertinentes às operações com vagões.</h3>

<p>
	Para navegar por esta seção utilize o menu superior.
</p>
