


html, body { height: 700px; } /* Altera a altura mínima do corpo da página */
/*html, body { width: 1350px; }/* Altera a largura mínima do corpo da página */ 


body {
  /*background-color: #a99b9a; /* Cor de fundo */
  background-image: url('praia.jpg'); /**/


  background-position: top center; /**/
  /*background-repeat: no-repeat; /**/
  /*font-family: "Trebuchet MS", Arial, san-serif; /**/
  font-size: 14px; /**/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*text-align: center; /**/
}



