<div id="menu">
	<button_a tabindex="0" href="/menuContent.html" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="flyout">
		<span class="ui-icon ui-icon-triangle-1-s"></span>Menu Principal
	</button_a>

	<button_b tabindex="0" href="#news-items" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="hierarchy">
		<span class="ui-icon ui-icon-triangle-1-s"></span>Menu Secundário
	</button_b>
	<div id="news-items" class="hidden">
		<ul>
