<!DOCTYPE html>
<html>
	<head>
		<title>Por terra e mar</title>
		<%= stylesheet_link_tag    "relatorios" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="-webkit-print-color-adjust: exact;" >

				<%= yield %>
			
	</body>

</html>
