<!DOCTYPE html>
<html>
	<head>
		<title>Sisteminha</title>
		<%= stylesheet_link_tag    "relatorios" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

				<%= yield %>
			
	</body>

</html>
