<li>
	<a ><%= link_to 'Incluir Fechamento diário de vagões', new_fechamento_diario_vagao_path %> </a>
</li>
<li>
	<a> <%= link_to 'Listar Fechamentos de vagões', fechamento_diario_vagaos_path %></a>
</li>