<%= render 'relatorios/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Relatórios</h1>
<br/>
<a href="/relatorios/gerar_relatorio_tempos_composicoes_vagoes">Relatório tempos composições de vagões</a>
<br/>
<br/>

