<li>
	<a > <%= link_to 'Incluir Amostra', new_amostra_path %> </a>
</li>
<li>
	<a href="/amostras_navio/new">Incluir amostras de navio</a>
</li>

<li>
	<a> <%= link_to 'Listar Amostras', amostras_path %></a>
</li>
